[user]
email = {{ .email | quote }}
name = {{ .name | quote }}

[aliases]
ui = ["util", "exec", "--", "jjui"]

[colors]
"diff token" = { underline = false }

# WIP Ad-hoc corrections for a solarized-dark terminal colorscheme
description = "#fdf6e3"   # gfmm solarized foreground
rest = "default"          # Rest of change ID or commit ID, after unique prefix
elided = "default"
"node elided" = "default"
