[user]
email = {{ .email | quote }}
name = {{ .name | quote }}

[aliases]
ui = ["util", "exec", "--", "jjui"]
metaedit-update-timestamps = ["metaedit", "--update-author-timestamp", "--update-committer-timestamp", "-r", "$1"]
abandon-branch-from-trunk = ["abandon", "($1::) - (trunk()::)"]
tug = ["bookmark", "move", "--from", "heads(::@- & bookmarks())", "--to", "@"]
rebase-all = ["rebase", "-s", "all:roots(trunk()..mutable())", "-d", "trunk()"]

[colors]
"diff token" = { underline = false }

# WIP Ad-hoc corrections for a solarized-dark terminal colorscheme
description = "#fdf6e3"   # gfmm solarized foreground
rest = "default"          # Rest of change ID or commit ID, after unique prefix
elided = "default"
"node elided" = "default"
