{{ $profile := env "DOTFILES_PROFILE" | default "personal" -}}
{{ $email := "email" -}}

{{ if eq $profile "personal" -}}
  {{ $email = "germanmolins@gmail.com" -}}
{{ else if eq $profile "quantica" -}}
  {{ $email = "german@quantica.io" -}}
{{ end -}}

sourceDir: {{ .chezmoi.sourceDir }}

data:
  profile: {{ $profile }}
  email: {{ $email }}
  name: Germán Molins
  dotfiles_url: https://github.com/german-molins/dotfiles.git
  packages:
    homebrew:
      brews_extra:
{{- if eq $profile "quantica" }}
        - lastpass-cli
{{- end }}
    nix_extra:
{{- if eq $profile "quantica" }}
        - lastpass-cli
{{- end }}
