###########
## options:

########
## Main:
{{ if eq .profile "personal" -}}
model: openrouter/anthropic/claude-3.7-sonnet
{{ else if eq .profile "quantica" -}}
model: openai/gpt-4o
{{- end }}

##################
## Model Settings:
cache-prompts: true

#################
## History Files:

###################
## Output Settings:
dark-mode: true
stream: true
code-theme: solarized-dark
show-diffs: true

################
## Git Settings:
gitignore: false
subtree-only: true
dirty-commits: false

commit-prompt: |
  You are an expert software engineer that generates concise
  Git commit messages based on the provided diffs.
  Review the provided context and diffs which are about to be committed to a git repo.
  Review the diffs carefully.
  Generate a commit message for those changes.
  The commit message should be structured as follows:
    <type>: <description>

    [optional body]
  Use these for <type>: fix, feat, build, chore, ci, docs, style, refactor, perf, test
  The body should provide a more detailed explanation of the changes.

  Ensure the commit message:
  - Starts with the appropriate prefix.
  - Is in the imperative mood (e.g., "add feature" not "added feature" or "adding feature").
  - Does not exceed 72 characters of line width.

  Reply only with the commit message, without any additional text, explanations,
  or line breaks.

watch-files: true

#########################
## Fixing and committing:
lint-cmd:
  - "python: black"
  - "python: isort --profile black"
  - "python: pyright"

test-cmd: "pytest -vv"
auto-test: false

##################
## Other Settings:
read:
  - {{ .chezmoi.homeDir }}/.aider.conventions.md
  - .aider.conventions.md

vim: true

alias:
  - "free:gemini/gemini-1.5-pro-latest"
