contexts:
  default:
    defaultIde: none
    defaultProvider: docker
    options:
      DOTFILES_SCRIPT:
        userProvided: true
        value: install.sh
      DOTFILES_URL:
        userProvided: true
        value: {{ .dotfiles_url }}
      SSH_CONFIG_PATH:
        userProvided: true
        value: {{ .chezmoi.homeDir }}/.ssh/config.d/devpod.conf
      GPG_AGENT_FORWARDING:
        userProvided: true
        value: "true"
    providers:
      docker:
        creationTimestamp: "2025-02-24T08:01:51Z"
        initialized: true
        options:
          DOCKER_BUILDER: {}
          DOCKER_HOST: {}
          DOCKER_PATH:
            value: docker
          INACTIVITY_TIMEOUT: {}
  quantica:
    defaultIde: none
    defaultProvider: docker
    options:
      DOTFILES_SCRIPT:
        userProvided: true
        value: install.sh
      DOTFILES_URL:
        userProvided: true
        value: {{ .dotfiles_url }}
      SSH_CONFIG_PATH:
        userProvided: true
        value: {{ .chezmoi.homeDir }}/.ssh/config.d/devpod.conf
    providers:
      docker:
        creationTimestamp: "2025-03-05T14:59:47Z"
        initialized: true
        options:
          DOCKER_BUILDER: {}
          DOCKER_HOST: {}
          DOCKER_PATH:
            value: docker
          INACTIVITY_TIMEOUT: {}
{{ if eq .profile "personal" -}}
defaultContext: default
{{ else if eq .profile "quantica" -}}
defaultContext: quantica
{{ end -}}
