#!/bin/bash

set -eu

export MISE_VERSION=v2025.6.4
echo "[dotfiles][mise] Bootstrapping mise..."
curl https://mise.run | sh

{{ if or (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64")) (eq .chezmoi.os "darwin") -}}

homebrew_installer=https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh

if [[ ! $(command -v brew)  ]]
then
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL "$homebrew_installer")"
fi
{{ end -}}

{{- if .devbox.enabled -}}
  {{ if eq .chezmoi.os "linux" -}}
if [[ ! $(command -v nix)  ]]
then
  # Install Nix package manager in single-user mode.
  sh <(curl -L https://nixos.org/nix/install) --no-daemon
  . "$HOME"/.nix-profile/etc/profile.d/nix.sh
fi
if [[ ! $(command -v devbox) ]]
then
    nix-env -iA nixpkgs.devbox
fi

  {{ else if eq .chezmoi.os "darwin" }}
if [[ ! $(command -v devbox) ]]
then
    # If not found, also installs Nix in multi-user mode in macOS.
    curl -fsSL https://get.jetify.com/devbox | bash -s -- --force
fi
  {{- end }}
{{- end -}}
