{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

set -euo pipefail

{{ template "brew-shellenv" . }}

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.brews_darwin -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.casks -}}
cask {{ . | quote }}
{{ end -}}
EOF
{{ end -}}
