{{ if or (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64")) (eq .chezmoi.os "darwin") -}}
#!/bin/bash

brew bundle --file=/dev/stdin <<EOF
{{ range .packages.homebrew.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.homebrew.brews_extra -}}
brew {{ . | quote }}
{{ end -}}

{{ if eq .chezmoi.os "darwin" -}}
{{   range .packages.homebrew.casks -}}
cask {{ . | quote }}
{{   end -}}
{{ end -}}
EOF
{{ end -}}
