#!/usr/bin/env sh

set -eu

# Make mise available in the current shell.
PATH="$HOME/.local/bin:$PATH"

echo "[dotfiles][upt] Installing Upt packages..."

mise run upt update
{{ range .packages.upt -}}
mise run upt -- install {{ . | quote }} --yes
{{ end -}}
{{ if eq .chezmoi.os "linux" -}}
{{   range .packages.upt_linux -}}
mise run upt -- install {{ . | quote }} --yes
{{   end -}}
{{ end -}}
