#!/usr/bin/env sh

# Make mise available in the current shell.
{{ template "mise-shellenv" . }}

if ! command -v mise >/dev/null; then
    >&2 echo "[dotfiles][mise] ERROR: 'mise' command not found, skipping package installation"
    exit 1
fi

# Make nix available in the current shell.
{{ template "nix-profile" . }}


# checksum of mise environment lockfiles
# {{ include "dot_config/mise/mise.lock" | sha256sum }}
# {{ include "mise.devbox.lock" | sha256sum }}
# {{ include "mise.opt.lock" | sha256sum }}
mise install
