#!/usr/bin/env sh

# Make mise available in the current shell.
PATH="$HOME/.local/bin:$PATH"

if ! command -v mise >/dev/null; then
    >&2 echo "[dotfiles][mise] ERROR: 'mise' command not found, skipping package installation"
    exit 1
fi

mise plugin add nix --quiet

# mise packages: {{ include "private_dot_config/mise/config.lock" | sha256sum }}
# mise nix packages: {{ include "private_dot_config/mise/config.nix.lock" | sha256sum }}
# mise opt packages: {{ include "private_dot_config/mise/config.opt.lock" | sha256sum }}
mise install
