#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
# Make devbox available in the current shell.
. "$HOME"/.nix-profile/etc/profile.d/nix.sh
. <(devbox global shellenv)
{{ end }}

# devbox packages hash: {{ include "dot_local/share/devbox/global/default/devbox.lock" | sha256sum }}
devbox global install

fonts_dir_dest="$HOME"/.local/share/fonts
devbox_venv_dir="$(devbox global path)"/.devbox
devbox_fonts_dir="$devbox_venv_dir"/nix/profile/default/share/fonts

>&2 echo "[dotfiles][devbox] Copying newly installed fonts to '$fonts_dir_dest'"
mkdir -p "$fonts_dir_dest"
cp -r --no-clobber "$devbox_fonts_dir"/* "$fonts_dir_dest"
>&2 echo "[dotfiles][devbox] Refreshing fontconfig cache"
fc-cache --force --verbose "$fonts_dir_dest"
