{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

homebrew_installer=https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh

if [[ ! $(command -v brew)  ]]
then
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL "$homebrew_installer")"
fi
{{ end -}}
