#!/bin/bash

{{ if eq .chezmoi.os "linux" -}}
# Make devbox available in the current shell.
. "$HOME"/.nix-profile/etc/profile.d/nix.sh
. <(devbox global shellenv)
{{ end }}

if ! command -v devbox >/dev/null; then
  >&2 echo "[dotfiles][devbox] ERROR: 'devbox' command not found, skipping package installation"
  exit 1
fi

# Make devbox packages available in the current shell.
. <(devbox global shellenv)

if ! command -v yazi >/dev/null; then
  >&2 echo "[dotfiles][yazi] ERROR: 'ya' command not found, skipping package installation"
  exit 1
fi

>&2 echo "[dotfiles][devbox] Installing yazi packages..."

# packages hash: {{ include "private_dot_config/yazi/package.toml" | sha256sum }}
ya pack --install
