{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64") -}}
#!/bin/bash

nix_profile_script="$HOME"/.nix-profile/etc/profile.d/nix.sh

if [ -e "$nix_profile_script" ]; then
  . "$nix_profile_script"
else
  echo -n "[dotfiles][nix] ERROR: '$nix_profile_script' not found. " &>2
  echo -n "Nix environment not avaliable. " &>2
  echo -n "Could not intall Nix packages." &>2
  echo
  exit 1
fi

{{ range .packages.nix -}}
installed=$(nix-env -q | sed 's/-[^-]*$//' | grep -q '^{{ . }}$' && echo "yes" || echo "no")
newer_version=$(nix-env --query --available {{ . }} | grep -q '^{{ . }}' && echo "yes" || echo "no")

if [ "$installed" = "no" ]; then
    echo "[dotfiles][nix-env] Installing: {{ . }}"
    nix-env --install {{ . }}
elif [ "$newer_version" = "yes" ]; then
    echo "[dotfiles][nix-env] Updating: {{ . }}"
    nix-env --install {{ . }}
else
    echo "[dotfiles][nix-env] Skip, already installed and up-to-date: {{ . }}"
fi
{{ end -}}
{{ end -}}
