{{ if and (eq .chezmoi.os "linux") (eq .chezmoi.arch "arm64") -}}
#!/bin/bash

{{ range .packages.nix -}}
if ! nix-env -q | sed 's/-[^-]*$//' | grep -q '^{{ . }}$'; then
    nix-env --install {{ . }}
else
    echo "[nix-env] Skip, already installed: {{ . }}"
fi
{{ end -}}
{{ end -}}
