#!/bin/bash

GH_EXTENSIONS_DIR=~/.local/share/gh/extensions

mkdir -p "$GH_EXTENSIONS_DIR/gh-dash"
ln -sf "$(which gh-dash)" "$GH_EXTENSIONS_DIR/gh-dash"

echo "[dotfiles][devbox] post-installation done"
