#!/bin/bash

{{ if or (and (eq .chezmoi.os "linux") (eq .chezmoi.arch "amd64")) (eq .chezmoi.os "darwin") -}}
homebrew_installer=https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh

if [[ ! $(command -v brew)  ]]
then
	NONINTERACTIVE=1 /bin/bash -c "$(curl -fsSL "$homebrew_installer")"
fi
{{ end -}}
