[tools]
aichat = "latest"
"aqua:dlvhdr/gh-dash" = "latest"
"aqua:jorgerojas26/lazysql" = "latest"
"aqua:zk-org/zk" = "latest"
bat = "latest"
bottom = "latest"
cargo-binstall = "latest"
chezmoi = "latest"
coreutils = "latest"
direnv = "latest"
dua = "latest"
duf = "latest"
dust = "latest"
fd = "latest"
fzf = "latest"
gh = "latest"
"aqua:gitui-org/gitui" = "latest"
glab = "latest"
jq = "latest"
lazydocker = "latest"
lazygit = "latest"
neovim = "latest"
node = "latest"
"pipx:httpie" = "latest"
pnpm = "latest"
ripgrep = "latest"
rust = "latest"
tree-sitter = "latest"
"github:dalance/procs" = "latest"
"github:peteretelej/tree" = "latest"
upt = "latest"
usage = "latest"
uv = "latest"
yazi = "latest"
yq = "latest"
zellij = "latest"
zoxide = "latest"
"cargo:diffutils" = "latest"
xh = "latest"
"github:tstack/lnav" = "latest"
"cargo:tlrc" = "latest"
carapace = "latest"
"github:ghetzel/mdnstool" = "latest"
pitchfork = "latest"
"cargo:somo" = "latest"
cosign = "latest"
opencode = "latest"
codebuff = "latest"
jjui = "latest"
jj = "latest"
"github:eza-community/eza" = "latest"
lazyssh = "latest"
"cargo:lazyjj" = "latest"
pandoc = "latest"
amp = "latest"
"github:atuinsh/atuin" = "latest"
"npm:ctx7" = "latest"
"conda:dos2unix" = "7.5.2"
"conda:dash" = "latest"
"conda:xsel" = "latest"
"conda:rsync" = "latest"
"conda:grep" = "latest"
"conda:sed" = "latest"
"conda:dateutils" = "latest"
"conda:tzdata" = "latest"
"conda:xclip" = "latest"
"conda:imagemagick" = "latest"
"conda:readline" = "latest"
"conda:resvg" = "latest"
"npm:skills" = "latest"

[settings]
experimental = true
lockfile = true
activate_aggressive = true
always_keep_download = true
idiomatic_version_file_enable_tools = []

[settings.cargo]
binstall = true

[env]
MISE_ENV = "devbox,opt"
_.file = ["~/.dotfiles.env", "~/.env", "~/.config/user-dirs.dirs"]
_.path = ["~/bin", "~/.local/bin"]

PS1 = ": "
PS2 = ".. "
VISUAL = "nvim"
EDITOR = "nvim -u NONE"
PAGER = "bat --plain"

BROWSER = "firefox"
JULIA_PROJECT = "@."
TLRC_CONFIG = "{{env.HOME}}/.config/tlrc/config.toml"

[tasks.clean]
description = "Clean up system packages and caches"
depends = ["mise:clean", "nix:clean", "brew:clean"]

[tasks.self-update]
depends = ["devbox:self-update", "brew:self-update"]

[tasks.update]
description = "Update all tools and packages"
depends = [
  "chezmoi:update",
  "mise:update",
  "devbox:update",
  "yazi:update",
  "nvim:update",
  "brew:update",
  "upt:update",
]
run = { task = "bash:clear-cache" }

[tasks."brew:update"]
description = "Update Homebrew global packages"
run = "command -v brew >/dev/null && brew upgrade || exit 0"

[tasks."brew:self-update"]
description = "Update Homebrew"
run = "command -v brew >/dev/null && brew update || exit 0"

[tasks."chezmoi:update"]
description = "Update Chezmoi"
run = "chezmoi upgrade"

[tasks."devbox:self-update"]
description = "Update Devbox"
run = "devbox version update"

[tasks."devbox:update"]
description = "Update Devbox global packages"
run = "devbox global update"

[tasks."upt:update"]
description = "Update system packages"
run = [{ task = "upt update" }, { task = "upt upgrade --yes" }]

[tasks."nerd-fonts:list"]
description = "List installed Nerd Fonts"
run = "fc-list | grep Nerd"

[tasks."mise:update"]
alias = "mise:up"
description = "Update Mise global packages"
run = ["mise upgrade", "mise plugins upgrade"]

[tasks."mise:clean"]
description = "Clean Mise cache"
run = "mise prune"

[tasks."nvim:clean"]
description = "Clean Neovim plugins"
run = "nvim --headless '+Lazy! clean' +qa"

[tasks."nvim:install"]
description = "Install Neovim plugins"
alias = "nvim:i"
run = "nvim --headless '+Lazy! install' +qa"

[tasks."nvim:sync"]
description = "Sync Neovim plugins"
run = "nvim --headless '+Lazy! sync' +qa"

[tasks."nvim:update"]
description = "Update Neovim plugins"
alias = "nvim:up"
run = "nvim --headless '+Lazy! update' +qa"

[tasks."yazi:install"]
alias = "yazi:i"
description = "Install Yazi packages"
run = "ya pkg install"

[tasks."yazi:update"]
alias = "yazi:up"
description = "Update Yazi packages"
run = "ya pkg upgrade"

[tasks."bash:clean"]
description = "Clean bash startup caches"
run = ["rm -rf ~/.cache/dotfiles/bash ~/.local/share/bash"]

[tasks."python:scaffold"]
description = "Scaffold a Python project with uv and pytest"
dir = "{{cwd}}"
run = [{ task = "python:init" }, { task = "python:tasks-add" }]

[tasks.random-hex]
description = "Generate a 32-bit random hex number"
alias = "rhex"
run = "openssl rand -hex 32| cut -c -7"

[tasks.zippdf]
description = "Compress PDF files in the current directory recursively"
run = "find -type f -iname '*.pdf' -exec gzip -vf {} +"

[shell_alias]
c = "clear"
h = "head"
t = "tail"
p = "pwd"
u = "df -H $HOME"
e = "{{env.EDITOR}}"
v = "{{env.VISUAL}}"

wh = "where"

ai = "aichat"
llm = "aichat"
cc = "claude"
oc = "opencode"
calc = "numbat"
num = "numbat"
mdns = "mdnstool"
jl = "jupyter-lab --no-browser --ip=0.0.0.0"
