[Desktop Entry]
Version=1.0
Name=Getting Things GNOME!
Name[cs]=Getting Things GNOME!
Name[da]=Getting Things GNOME!
Name[de]=Getting Things GNOME!
Name[en_CA]=Getting Things GNOME!
Name[en_GB]=Getting Things GNOME!
Name[en_US]=Getting Things GNOME!
Name[es]=Getting Things GNOME!
Name[fr]=Getting Things GNOME !
Name[hi]=Getting Things GNOME!
Name[hr]=Sredite stvari s GNOME!
Name[hu]=Getting Things GNOME!
Name[it]=Getting Things GNOME!
Name[nds]=Bekomme Dinge GNOME!
Name[nl]=Getting Things GNOME!
Name[pl]=Getting Things GNOME!
Name[pt_BR]=Getting Things GNOME!
Name[ru]=Приведите дела в порядок вместе с GNOME!
Name[sk]=Getting Things GNOME!
Name[sv]=Getting Things GNOME!
Name[tr]=Getting Things GNOME!
Name[uk]=Getting Things GNOME!
GenericName=Task Manager
GenericName[de]=Aufgabenplaner
GenericName[es]=Organizador de Tareas
GenericName[fr]=Gestionnaire de tâches
GenericName[hu]=Feladatkezelő
GenericName[nl]=Taakbeheerder
GenericName[pl]=Menedżer zadań
GenericName[pt_BR]=Gerenciador de Tarefas
GenericName[sk]=Správca pracovných úloh
GenericName[sv]=Uppgiftshanterare
Comment=Personal tasks and TODO-list items organizer for the GNOME desktop environment.
Comment[de]=GTG ist ein persönlicher Aufgaben- und TODO-Listenverwalter für die GNOME Arbeitsumgebung.
Comment[en_US]=Personal tasks and TODO-list items organizer for the GNOME desktop environment.
Comment[es]=Organizador de tareas personales para el entorno de escritorio GNOME.
Comment[fr]=Gestionnaire et organisateur de tâches personnelles « à faire »conçu pour l'environnement de bureau GNOME.
Comment[hu]=Személyi feladat- és teendőlista-szervező a GNOME asztali környezethez.
Comment[nl]=GTG is een persoonlijke takenlijstbeheerder voor de GNOME-werkomgeving.
Comment[pl]=Osobisty organizator zadań i list do wykonania dla środowiska GNOME.
Comment[pt_BR]=Organizador de tarefas pessoais e lista de tarefas para o ambiente de área de trabalho GNOME.
Comment[sv]=Getting Things GNOME! är ett "att-göra-listor" organiseringsprogram för GNOME-skrivbordsmiljön.
Icon=org.gnome.GTG
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=gtg --file-forwarding org.gnome.GTG @@u %U @@
Terminal=false
Type=Application
Categories=Office;ProjectManagement;
Keywords=Organizer;Task;Tasks;Projects;Activities;Productivity;Plan;Planning;Planner;Time;Management;Scheduling;GTD;gtg;Todo;
Keywords[de]=Organizer;Task;Tasks;Projects;Activities;Productivity;Plan;Planning;Planner;Time;Management;Scheduling;GTD;gtg;Todo;Organisierer;organisieren;Aufgabe;Aufgaben;Projekte;Aktivitäten;Planen;Zeit;Verwaltung;
Keywords[es]=Organizer;Task;Tasks;Projects;Activities;Productivity;Plan;Planning;Planner;Time;Management;Scheduling;GTD;gtg;Todo;Organizador;Tarea;Tareas;Proyectos;Actividades;Productividad;Organizador;Tiempo;Gestión;Planificación;
Keywords[fr]=Organisateur;Tâche;Tâches;Projets;Activités;Productivité;Plan;Planification;Planificateur;Temps;Gestion;Planning;GTD;gtg;Todo;
Keywords[hu]=Szervező;Feladat;Feladatok;Projekt;Tevékenység;Produktivitás;Terv;Tervezés;Tervező;Idő;Menedzsment;Beosztás;GTD;gtg;Teendő;
Keywords[nl]=Organizer;Organiseerder;Organiseren;Taak;Taken;Projecten;Activiteiten;Productiviteit;Plan;Planning;Planner;Tijd;Beheer;Inplannen;GTD;gtg;Todo;
Keywords[pl]=organizator;zadanie;zadania;projekty;aktywności;produktywność;plan;planowanie;planer;czas;zarządzanie;terminy;GTD;gtg;lista;
Keywords[pt_BR]=Organizador;Tarefa;Tarefas;Projetos;Atividades;Produtividade;Plano;Planejamento;Planejador;Tempo;Gerenciamento;Agendamento;GTD;gtg;Todo;
Keywords[sv]=Organiserare;Uppgift;Uppgifter;Projecter;Activiteter;Produktivitet;Plan;Planering;Planerare;Tid;Förvaltning;Schemaläggning;GTD;gtg;Att-göra;
Keywords=Organizer;Task;Tasks;Projects;Activities;Productivity;Plan;Planning;Planner;Time;Management;Scheduling;GTD;gtg;Todo;
MimeType=x-scheme-handler/gtg;
StartupNotify=true
DBusActivatable=true
StartupWMClass=Gtg
X-Flatpak=org.gnome.GTG
X-GNOME-Autostart-enabled=true
NoDisplay=false
Hidden=false
Name[en_US]=Getting Things GNOME!
Comment[en_US]=Personal tasks and TODO-list items organizer for the GNOME desktop environment.
X-GNOME-Autostart-Delay=0
