layout {
  default_tab_template {
      pane size=1 borderless=true {
          plugin location="zellij:tab-bar"
      }
      children
      pane size=1 borderless=true {
          plugin location="zellij:status-bar"
      }
  }
  cwd "$HOME"
  tab name="notes" cwd="notebook" focus=true {
    pane command="nvim"
  }
  tab name="system" {
    pane command="btm" start_suspended=true
  }
  tab name="docker" {
    pane command="lazydocker" start_suspended=true
  }
  tab name="gh" {
    pane command="gh-dash" start_suspended=true
  }
}
