{
  packageOverrides = pkgs: with pkgs; {
    dotfilesPackages = pkgs.buildEnv {
      name = "dotfiles-packages";
      paths = [
{{- range .packages.nix }}
        {{ . -}}
{{ end }}
      ];
    };
  };
}
